@media (max-width: 1200px) {

}


@media (max-width: 991px){ 
    .header {
        margin: auto 15px auto 15px;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 36px auto;
    }
    .carousel {
        &__inner{
            img {
                width: 100%;
            }
        }

    .slick-prev {
       left: -25px;
       z-index: 1;
        }
    .slick-next {
        right: -20px;
        z-index: 0;
    }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    } 
    .review {
        &__block {
            margin-left: 10px;
        }
    } 
}

@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 12px;
        } 
    }
    .button {
        width: 120px;
        height: 30px;
        border-radius: 5px;
        font-size: 10px;
        &_main {
            width: 200px;
            height: 40px;
            font-size: 12px;
        }
        &_submit {
            width: 100%;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 18px;
        }
    }
    .advantages {
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
            a {
                font-size: 14px;
            }
        }
    }
    .carousel {
        &__inner {
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: wrap;

        }
    }
    .review {
        &__block {
            align-items: center;
            justify-content: none;
            height: 180px;
        }
        &__text {
            text-align: center;
        }
        &__photo-circle {
            margin-left:10px;
        }
        &__descr {
            display: none;
        }
        &__name {
            margin-top: none;
            font-size: 14px;
            line-height: 1;
        }
        &__subheader {
            font-size: 10px;
            line-height: 1;
        }
        &__descr-767 {
            display: block;
            font-size: 12px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        display: flex;
        align-items: center;
        &__official {
            display: none;
        }
        &__phone {
            font-size: 10;
        }
    }
    .button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 8px;
        &_main {
            max-width: 200px;
            height: 40px;
            font-size: 10px;
        }
        &_submit {
            width: 100%;
        }
    }
    .promo {
        &__subheader {
            text-align: center;
        }
        &__icons {
            justify-content: center;
        }
    }
    .advantages {
        &__header {
            margin-top: 30px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            display: none;
        }
        &__wrapper {
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            text-decoration: underline;
            color: #ff0000;
                &:hover {
                    text-decoration: underline;
                }
        }
    }
    .title {
        font-size: 16px;
        &_left {
            font-size: 16px;
        }
    }
    .consultation {
        &__descr {
            font-size: 12px;
        }
    }
    .feed-form {
        input {
            height: 35px;
            font-size: 10px;
        }
    }
    .carousel {
        &__inner {
            img {
                width: 40%;
            }
        }
    }
    .catalog {
        h2 {
            font-size: 20px;
        }
        &__tab {
            font-size: 10px;
            margin-bottom: 10px;
            }
        
        &__item {
            max-width: 250px;
        }
    }
    .review {
        &__block {
            margin-top: 30px;
            flex-direction: column;
            margin-bottom: 10px;
        }
        &__descr-767 {
            display: none;
        }
        &__name {
            margin-top: 10px;
        }
    }
}